{
  "sim_time_steps":40000,
  "sim_time_steps_per_sv_oscillation":1000,
  "concentrations_write_interval":2000,
  "trajectory_write_interval":2000,
  "reaction_configuration":"RS_waterCl_tempDependent_fittedMob.conf",
  "n_particles":[2000,0,0,0,0,0,0,0,0],
  "start_width_x_mm":0.00001,
  "start_width_y_mm":0.00001,
  "start_width_z_mm":0.00001,
  "sv_Vmm-1":%%-2-%%,
  "cv_Vmm-1":-20,
  "sv_mode": %%-1-%%,
  "sv_frequency_s-1":3e6,
  "cv_relaxation_parameter":1.5e9,
  "cv_mode":"modulated_auto",
  "cv_waveform": "cv_waveform_square.csv",
  "cv_phase_shift": %%-0-%%,
  "log_cv_field_period": 1e8,
  "background_temperature_K": 413.15,
  "background_pressure_Pa":101325
}



